{% extends 'main.html' %}
{% block content %}
<main class="layout layout--3">
      <div class="container">
       
        <!-- Topics Start -->
        {% include 'firstApp/topic_component.html' %}
        <!-- Topics End -->

        <!-- Room List Start -->
        {% include 'firstApp/feed_component.html' %}
        <!-- Room List End -->

        <!-- Activities Start -->
        {% include 'firstApp/activity_component.html' %}
        <!-- <h1>Top Hosts</h1>      
        {% for host in hosts %}
        <p><a href="{% url 'profile' host.host__id%}">@{{ host.host__username }}</a> - {{ host.room_count }} rooms</p>
        {% endfor %} -->
        

        <!-- Activities End -->
     
       
      </div>
</main>
{% endblock %}