{% extends 'main.html' %}

{% block content %}
{% if page %}
<!-- login fom -->
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="">username</label>
            <input type="text" name="username"  placeholder="Enter username" id="">
            <label for="">Password</label>
            <input type="text" name="password"  placeholder="Enter password" id="">
            <input type="submit" value="Login">
        </form>
        <span>Didnt sign up yet? </span>
        <a href="{% url 'register' %}">Register</a>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% else %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Register">
        </form>
    </div>

{% endif %}


{% endblock %}